$firebrick: #b01d22;
$alizarin: #d9272d;
$sunset-orange: #f2494e;
$sweet-pink: #ee888b;
$cosmos: #fdcacc;
$misty-rose: #ffe7e8;
$lavender-blush: #fff2f3;
$nero: #1f1d1d;
$night-rider: #303030;
$white-smoke: #efefef;
$nero: #2c2c2c;
$grey: #858585;
$cultured: #f7f7f7;
$suva-grey: #8e8e8e;
$gainsboro: #e4e1e1;
$dark-grey: #acabab;
$brown: #b01d22;
$astronaut: #42526e;
$thistle: #dcdcdc;
$hint-of-red: #fcfafa;
$platinum: #e5e5e5;
$eucalyptus: #2da04d;
